.box{
    width: 100px;
    height: 100px;
    background-color: #f00;
}

.done{
    text-decoration: line-through;
}

.btn{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #40e9ff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.btn:active{
    background-color: #3a8ee6;
}

.triangle{
    display: inline-block;
    border: 10px solid transparent;
    border-top: 10px solid #000;
}

td,th{
    border: 1px solid #000;
}